.contact-content{
    height: 70vh;
    /* background-color: rgb(202, 224, 240); */
    margin-top: 30px;
    position: relative;
    margin-bottom: 20px;
}

.contact-content::after{
    content: '';
    background-image: url('../images/background1.jpg');
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.30;
    border-radius: 14px;
    z-index: -1;
}